body {
    font-family: 'Inter', sans-serif;
    background:#052245;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: white;
    max-width: 350px;
    min-height: 40vw;
    padding: 2rem;
    border-radius: 8px;
}

main h3 {
    text-align: center;
    font-size: 30px;
    color: #052245;
}

form {
    display: flex;
    flex-direction: column;
}

.dados {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.dados input {
    outline: none;
    font-size: 1rem;
    color: grey;
    border: white;
}

.dados .underline {
    color: grey;
}

.pagamento label {
    margin-bottom: 0.2em;
    color: #052245;
    display: block;
    font-size: 20px;
}

.pagamento input {
    margin-bottom: 0.2rem;
}
